@model SurveyConfiguratorTaskWeb.Models.SmileyQuestionViewModel
@{
    ViewBag.Title = "SmileyView";
    const string SMILEY_COUNT = "Smiley Count";
    const string CREATE = "Create";
}

<h2>SmileyView</h2>


@using (Html.BeginForm("AddSmileyQuestion", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SmileyCount, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.SmileyCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SmileyCount, "", new { @class = "text-danger" })
            </div>
        </div>
        <button type="submit" class="btn btn-info" style="margin-top:20px">@CREATE</button>
    </div>
}